<% provide(:title, "logowanie") %>

<div class="featured">
  <a href="auth/facebook" class="facebook">zaloguj przez Facebook</a>
  <p>lub</p>
  <a href="signup" class="signup">załóż konto</a>
</div>


<fieldset>
  <h2>Zaloguj zwyczajnie:</h2>
  <%= form_for(:session, :url => sessions_path, :html => { :class => "form-horizontal pull-left"} ) do |f| %>
    <div class="group text">
      <%= f.text_field :email, :placeholder => "e-mail" %>
      <%= f.password_field :password, :placeholder => "hasło" %>
    </div>
    <%= f.submit "zaloguj się", :class => "button" %>
  <% end %>

</fieldset>


