<ul class="actions unstyled" id="movieActions">
	<%= render :partial => "movies/lightboxActions", :locals => { :movie => movie } %>
</ul>

<div class="lightbox">
	<div class="content" id="lightbox_content">
		<embed src="http://www.youtube.com/v/<%=movie.resource_id%>&autoplay=1&rel=0&autohide=1&cc_load_policy=0&controls=0&hd=1&egm=0" type="application/x-shockwave-flash" wmode="transparent" id="embed_video">
		</embed>
		<div class="comments">
			<ul>
				<%= render movie.comments %>
			</ul>
			<% if signed_in? %>	<%= render :partial => "comments/form", :locals => { :movie => movie } %> <% end %>
		</div>
	</div>
</div>

