<% if defined? page %>
	<li><a id="bye" href="/">Close</a></li>	
<% else %>
	<li><a id="bye">Close</a></li>	
<% end %>


<% if signed_in? %>

	<% cssClass = "active" if movie.liked?(current_user.id) %>
	<%= form_for(movie.likes.build, :remote => true) do |f| %>
		<%= f.hidden_field :movie_id, :value => movie.id %>
	  <li><%= f.submit "Like", :id => "like", :class => cssClass, :rel => "popover", "data-content" => users_liked(movie), 
	  "data-original-title" => "Lubią to (#{movie.likes_count})" %></li>
	<% end %>

	<li><a id="comments">Comments</a></li>

<% else %>

	<li><%= link_to "Nice", signin_path, :id => "like" %></li>

<% end %>

