<%= form_for(current_user.relationships.build(followed_id: user.id), :remote => true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Obserwuj", :class => "btn btn-mini btn-primary", :disable_with => "Åadowanie..." %>
<% end %>