<li id="user_<%=user.id%>">
  <p class="pull-left"><%= link_to(user.name, user_path(user)) %></p>
  <div id="follow_form">
  	<%= render :partial => "users/followForm", :locals => { :user => user }, :class => "pull-right" %>
  </div>
</li>
