<% provide(:title, 'Lista użytkowników') %>
<br/><br/>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
      
      <% unless current_user?(user) %>
        <div id="follow_form">
        <% if current_user.following?(user) %>
          <%= render :partial => 'unfollow', :locals => { :user => user } %>
        <% else %>
          <%= render :partial => 'follow', :locals => { :user => user } %>
        <% end %>
        </div>
      <% end %>
    
    </td>
  </tr>
<% end %>
</table>
