<% provide(:title, @user.name) %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<% @user.authentications.each do |auth| %>
		<%= auth.provider %></br>
		<%= auth.uid %></br>
		<hr>
	<% end %>
</p>