<% provide(:title, "O Najsu") %>

<div class="container">
	<div id="about" class="row">

		<div class="span6">
			Najsu jest Twoim agregatorem i źródłem najlepszych filmików w sieci oraz wśród Twoich znajomych.
			Wskazówki, krytykę i słowa otuchy słać na <a href="mailto:matbur@me.com">matbur@me.com</a>
		</div>

	</div>
</div>