<div id="bookmarklet_page">

	<div class="intro">
		Udostępniaj jednym kliknięciem filmy, które oglądasz!
	</div>
	
	<div class="scriptlet">
		<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://burczynski.com/youtube_id.js';})();" class="bookmarklet">Najsu!</a>		
		<div class="arrow"></div>
		<div class="browser"></div>
	</div>

	<div class="content">
		<div class="header">
			Zakładka zamontowana? Przejdźmy do dzieła!
		</div>
		<div class="main">
			<div class="hint"></div>
			<div class="browsers"></div>
			<ul class="steps unstyled">
				<li>
					<p>Oglądasz spoko filmik na YouTube czy Vimeo</p>
				</li>
				<li>
					<p>Klikasz w zakładkę "Najsu!"</p>
				</li>
				<li>
					<p>Filmik zostaje dodany do Twojej kolekcji oraz udostępniony światu i znajomym</p>
				</li>
			</ul>
		</div>
		<div class="notice">
			<p>Zakładka póki co działa na stronach YouTube i Vimeo, <strong>więcej wkrótce!</strong></p>
		</div>
	</div>
	
</div>