
<div class="span7" id="bookmarklet_page">
	Drag this to your bookmark bar » 
	<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://burczynski.com/youtube_id.js';})();" class="bookmarklet">Najsu!</a>
</div>