<div class="row-fluid" id="featured">

	<div class="span12">
			<p>Odkrywaj, oglądaj i dziel najciekawsze filmy w Twoim otoczeniu!</p>
  		<%= link_to "Subskrybuj ludzi!", users_path, :class => "button button-orange" %> 
  		<%= link_to "Zaloguj z Facebook", "auth/facebook", :class => "button button-facebook facebook_popup", :disable_with => "Sekunda..." %>

  		<% if signed_in? %>
				<% if current_user.facebook? %>
					<%= link_to "Zaproś znajomych z Facebook!", invitations_path, :remote => true, :disable_with => "Ładowanie...", :class => "button button-facebook" %>
				<% end %>
			<% end %>		
	</div>

</div>



<div class="row-fluid" id="moviesList">
	<%= render @movies %>
</div>					
