<% if signed_in? %>

	<% provide(:title, "Your Dashboard") %>
	<p>There will be your tasks here.</p>

<% else %>

	<div class="row-fluid">
		<%= render 'movies/form' %>
	</div>					

	<div class="row-fluid">
		<ul class="unstyled"><%= render @movies %></ul>
	</div>					


<% end %>
