<% if signed_in? %>
	
	<% if params[:resource_id] %>
		<p style="padding: 0 0 0 30px">Ładowanie...</p>
	<% end %>

	<% if params[:notice] %>
		<p style="padding: 0 0 0 30px"><%= params[:notice] %></p>
		<script type="text/javascript">
			setTimeout("window.close()", 1000);	
		</script>
	<% end %>

<% else %>

	Nie jesteś zalogowany.<br/>
	<%= link_to "Zaloguj się tutaj!", signin_path, :target => "_blank", :id => "close" %>
	<script type="text/javascript">
		$('#close').click(function() {
			setTimeout("window.close()", 100);	
		});
	</script>

<% end %>