<div class="row-fluid" id="timeline">

		<% @movies.each do |day, movies| %>
			<ul class="unstyled movies">
				<li class="first"><%= day.strftime("%m.%d") %></li>
				<% movies.each do |movie| %>
	    		<%= render :partial => "movies/movie", :locals => {:movie => movie} %>
	  		<% end %>
  		</ul>
  	<% end %>

</div>					
