<div class="row-fluid" id="timeline">

		<% @movies.each do |day, movies| %>
			<ul class="unstyled movies">
				<div class="first"><%= day.strftime("%m.%d") %></div>
				<% movies.each do |movie| %>
	    		<div class="movie" id="clip_<%=movie.id%>">
					<%= link_to(movie_path(movie.id), :remote => true) do %>
						<div class="play"></div>
						<%= image_tag("http://img.youtube.com/vi/#{movie.resource_id}/hqdefault.jpg") %>
					<% end %>
				</div>
	  		<% end %>
  		</ul>
  	<% end %>

</div>					
