$("#button_<%=@friend_uid%>").remove();
<% if @status %>
	$("#row_<%=@friend_uid%>").append("<div class='alert alert-success pull-right mini'>Zaproszenie wysłane!</div>");
<% else %>
	$("#row_<%=@friend_uid%>").append("<div class='alert alert-error pull-right mini'>Brak uprawnień - Najsu publikować posty</div>");
<% end %>

