

/* HTML ELEMENTS ----------------------------------------------------------------*/
* { outline: 0 }

html { /*background: url(background.jpg)*/ }
body { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 61px; color: #000; background: #ededed;
	font-size: 12px;
} /*old bg f7f7f7 */
body.frontend { background: #fff; padding-top: 85px; }
body a, body a:hover { color: #d94335 }

html.clean,
html.clean body { background: none; color: #000; padding: 20px }

p { font-size: 12px }

.popover { z-index: 3000; }

.loader { background: url(loader.gif); width: 32px; height: 32px; margin: auto; margin-top: 20px  }

.container-fluid.movies { padding-left: 0; padding-right: 0 }

/* Basic Content ----------------------------------------------------------------*/

.frontend .container .row div { width: 413px; margin: auto }
.frontend .container .row div .alert { float: left; width: 362px; margin-bottom: 20px }

.frontend .container .row div .logo { 
	text-indent: -9999px; width: 413px; float: left; height: 62px; 
	background: url(logoBig.png) left top no-repeat; margin-bottom: 60px }
.frontend .container .row div .featured { 
	width: 413px; float: left; padding: 0 0 60px 0; border-bottom: 3px solid #e5e5e5;
	margin-bottom: 60px; 
}
.frontend .container .row div .featured p,
.frontend .container .row div .featured a { 
	display: block; float: left; color: #fff; font-weight: bold; font-size: 16px;
	height: 42px; line-height: 42px; text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.frontend .container .row div .featured p { margin: 0; color: #b2b2b2; width: 56px; }
.frontend .container .row div h2,
.frontend .container .row div h2 a { color: #cccccc; font-size: 22px; margin-bottom: 10px }

.frontend .container .row div #new_user { padding-bottom: 60px; border-bottom: 3px solid #e5e5e5; }

.frontend .container .row div .featured a:hover { text-decoration: none }
.frontend .container .row div .featured .facebook { background: #3b5998; width: 248px; }
.frontend .container .row div .featured .signup { background: #de4535; width: 109px; float: right }

.frontend .container .row div fieldset .group,
.frontend .container .row div fieldset { width: 413px; float: left }

.frontend .container .row div fieldset .group.text { margin-bottom: 10px }
.frontend .container .row div fieldset .group.text input { width: 180px; padding: 10px; float: left; font-size: 16px; color: #cccccc; font-weight: bold  }
.frontend .container .row div fieldset .group.text input#session_password,
.frontend .container .row div fieldset .group.text input#user_email,
.frontend .container .row div fieldset .group.text input#user_password_confirmation { float: right } 
.frontend .container .row div fieldset .button { float: right; background: #6bc888; padding: 10px; font-size: 16px; color: #fff; font-weight: bold; border: 0  }


/* HEADER -----------------------------------------------------------------------*/

.tooltip { z-index: 99999; }

#header {  }
#header .navbar-inner { 
  border-bottom: 1px solid #e4e4e4; height: 60px;
	background: #fff; /* old f0f0f0 */
	-webkit-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.05); }
#header .navbar-inner.shadow { 
	-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05);
}
#header .navbar-inner a.brand { 
	background: url(logo.png); height: 24px; width: 70px; text-indent: -9999px;
	float: left; font-weight: 900; color: #6a6a6a; padding: 0; margin: 17px 0 0 0  }

#header .nav { float: right; padding: 14px 0 0 0; margin: 0 }
#header .nav li { margin-left: 5px; }
#header .nav li.divider { height: 26px; width: 1px; background: #D9D9D9; margin: 0 15px 0 20px; }
#header .nav li a { 
	line-height: 11px;
	text-shadow: 0px 0px 0px;
	filter: dropshadow(offx=0, offy=0);
	color: #6d6d6d; padding: 7px 9px 8px 9px; font-size: 11px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #d9d9d9;
}
#header .nav li a:hover { background: #cfcfcf }
#header .nav li a.active { background: #6fcb89; color: #fff } 
/*#header .nav li a.clean { background: none }*/
#header .nav li a img { float: left; margin-right: 5px }
#header .nav li#bookmarklet { margin: 0 15px 0 0 }
#header .nav li#bookmarklet a { 
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #5FBCDE; color: #fff }
#header .nav li#bookmarklet a:hover { background: #4b89c8 }


#header .bezel { background: url(header.jpg) repeat-x top; height: 6px }

#header .user { float: left; padding: 8px 0; margin-left: 15px; position: relative; }
#header .user .avatar { height: 38px; width: 38px; position: relative; margin-right: 7px; float: left }
#header .user .avatar .mask { width: 38px; height: 38px; background: url(avatarMask.png); position: absolute; left: 0; top: 0; pointer-events:none; z-index: 20 }
#header .user .name { height: 38px; margin-right: 5px; cursor: pointer; float: left }
#header .user .name:hover .content { background: #cfcfcf; text-decoration: none; color: #D94335 }
#header .user .name * { float: left }
#header .user .name .arrow { width: 5px; height: 38px; background: url(headerArrow.jpg) center left; float: left }
#header .user .name .content,
#header .user #notifications_counter a { 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	padding: 0 7px; height: 26px; line-height: 25px; margin-top: 6px;
	font-size: 11px; color: #727272; background: #d9d9d9; float: left }
#header .user #notifications_counter { float: left }
#header .user #notifications_counter a { text-decoration: none; color: #727272 }
#header .user #notifications_counter a.active { background: #d94335; color: #fff; padding: 0 8px; cursor: pointer }
#header .user #notifications_counter a.active:hover { background: #eb3220 }

#header .fb-like { margin: 17px 0 0 18px; float: left }




/* CONTENT ----------------------------------------------------------------------*/

#timeline { padding: 20px 0 }
#timeline { 
	padding-top: 10px;
	background: none repeat scroll 0 0 rgba(155, 155, 155, 0.4);
	float: left; display: block; width: 94%; padding-left: 50px }
#timeline { position: relative; }
#timeline div.first { position: absolute; left: 0; padding: 0 10px; margin: 0; border: 0  }

#featured { 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #5ebbdd; height: 56px; line-height: 56px;
	margin: auto; margin: 20px 20px 10px 20px;
	width: auto;
	display: block; float: none;
}
body.app #featured { margin: 10px 0; display: none }

#featured.lightBlue { background: #5ebbdd }
#featured.darkBlue { background: #5686c4 }
#featured.purple { background: #c483c3 }
#featured.orange { background: #e5931e }
#featured.green { background: #40af5f }

#featured .span12 .unWrap { margin: auto; width: 843px; }
#featured .span12 .unWrap * { 
	outline: none;
	text-indent: -9999px; background-image: url(featured.png); background-repeat: no-repeat; 
	height: 56px; line-height: 56px; display: block; float: left; margin: 0 8px 0 0; }

#featured .span12 a.close { margin-top: 2px }

#featured .span12 p#discoverMovies { width: 497px; background-position: left 12px }
#featured .span12 p#or { width: 27px; background-position: -710px 12px  }
#featured .span12 a.button-facebook { background-position: -507px 0; width: 193px; margin-top: 12px; height: 32px; }
#featured .span12 a.button-facebook:hover { background-position: -507px bottom }
#featured .span12 a.button-signup { background-position: -744px 0; width: 89px; margin-top: 12px; height: 32px; margin-right: 0 }
#featured .span12 a.button-signup:hover { background-position: -744px bottom }


#content { padding-bottom: 20px }
body.app #content { padding-bottom: 0 }


#categories { background: url(categories_arrow.png) center bottom no-repeat; height: 52px; margin: 12px 0 0 0; position: relative; }
#categories .switcher { height: 34px; text-align: center }
#categories .switcher li { display: inline-block; margin: 0 3px; }
#categories .switcher li a { display: block; width: 34px; height: 34px; background: url(categories.png) left top; text-indent: -9999px; outline: none }
#categories .switcher li a#popular { background-position: 0 0 }
#categories .switcher li a#popular:hover,
#categories .switcher li a#popular.active { background-position: 0 -34px }
#categories .switcher li a#friends { background-position: -34px 0 }
#categories .switcher li a#friends:hover,
#categories .switcher li a#friends.active { background-position: -34px -34px }
#categories .switcher li a#discussed { background-position: -68px 0 }
#categories .switcher li a#discussed:hover,
#categories .switcher li a#discussed.active { background-position: -68px -34px }

#categories .switcher li a#newest { background-position: -102px 0 }
#categories .switcher li a#newest:hover,
#categories .switcher li a#newest.active { background-position: -102px -34px }
#categories .switcher li a#watched { background-position: -136px 0 }
#categories .switcher li a#watched:hover,
#categories .switcher li a#watched.active { background-position: -136px -34px }



#bookmarklet_page { margin: auto; float: none; padding: 20px 0 0 0; width: 600px }
#bookmarklet_page .intro { 
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-bottom: 30px;
	background: #5fbcde; padding: 15px 0; text-align: center; font-weight: normal; font-size: 16px; color: #fff 
}

#bookmarklet_page .scriptlet { height: 193px; width: 600px; position: relative; }
#bookmarklet_page .scriptlet .browser { 
	z-index: 1;
	background: url(bookBrowser.jpg); top: -30px; right: -200px;
	width: 504px; height: 463px; position: absolute; }
#bookmarklet_page .scriptlet .arrow { 
	background: url(bookArrow.png); float: left; margin-top: 92px; position: relative;
	height: 35px; width: 216px; z-index: 10; }

#bookmarklet_page .scriptlet .bookmarklet {  
	-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; color: #fff;
	background: #d94335; padding: 10px 22px; font-weight: bold; font-size: 16px; 
	cursor: move; text-decoration: none; margin: 88px 0 0 0; float: left
}
#bookmarklet_page .scriptlet .bookmarklet:hover { text-decoration: none }

#bookmarklet_page .content { 
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-bottom: 30px;
	width: 598px; background: #fff; z-index: 20; position: relative;
	border: 1px solid #d8d8d8 }
#bookmarklet_page .content .header { 
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;		
	padding: 17px 18px; background: #f6f6f6; color: #d94335; font-size: 14px; font-weight: bold  }
#bookmarklet_page .content .main,
#bookmarklet_page .content .notice { padding: 30px; position: relative; z-index: 5; }
#bookmarklet_page .content .notice p { 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 0;
	background: #d94335; color: #fff; font-size: 12px; text-align: center; line-height: 32px; }

#bookmarklet_page .content .main { min-height: 250px }
#bookmarklet_page .content .main .browsers { 
	z-index: 3;
	width: 527px; height: 423px; position: absolute; 
	background: url(bookVideo.png); left: -175px; top: -65px
 }
#bookmarklet_page .content .main ul.steps { float: right; width: 538px; margin-top: 10px }
#bookmarklet_page .content .main ul.steps li { 
	float: right; width: 523px; padding: 7px; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 0 0 5px 0;
	background: #f4e485; text-align: right 
}
#bookmarklet_page .content .main ul.steps li p { margin: 0; float: right;	width: 180px; line-height: 16px; color: rgba(0,0,0,0.6); font-size: 12px  }

#bookmarklet_page .content .main #tutorial_button { 
	text-indent: -9999px; background: url(tutorialButton.jpg); margin-top: 28px;
	width: 320px; height: 99px; float: right; }




#slidabilty { overflow: hidden; }
#slidabilty img { -webkit-transform: rotate(0deg); position: absolute; z-index: -20; top: 0; left: 0 }
#slidabilty:hover img,
#slidabilty:hover img,
#slidabilty:hover img {
	-webkit-transform: rotate(360deg);
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transform: rotate(360deg);
	-moz-transition: -moz-transform 0.5s;
	transform: rotate(360deg);
	transition: transform 0.5s;
	top: 0; left: 0;
}
#categories.library { height: 102px; }
#categories.library .avatar { width: 82px; height: 82px; margin: auto; position: relative; margin-top: -100px }
#categories.library .avatar .mask { background: url(avatarMaskBig.png); position: absolute; left: 0; top: 0; width: 82px; height: 82px; }

.libary-navi { text-align: center; padding: 10px 0 }
.libary-navi .btn-group { margin: 0 auto; text-align: center; width: inherit; display: inline-block; }
.libary-navi .btn-group a { float: none; margin-left: -5px; outline: 0 }


#moviesList { padding-top: 10px; margin: 0 auto; }
#moviesList .movie { 
	/*-webkit-box-shadow: inset 0px 3px 0px 0px rgba(155, 155, 155, 1);
-moz-box-shadow: inset 0px 3px 0px 0px rgba(155, 155, 155, 1);
box-shadow: inset 0px 3px 0px 0px rgba(155, 155, 155, 1); */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	overflow: hidden;
	width: 208px; background: #fff; border: 2px solid #dbdbdb; padding: 5px;
	display: block; float: left; margin: 0 5px 10px 5px }
#moviesList .movie a { 
	-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
overflow: hidden;
	/*border-top: 1px solid rgba(155, 155, 155, 0.2);*/	
	width: 208px; float: left; display: block; height: 115px; 
	overflow: hidden; position: relative;

}
#moviesList .movie img { width: 208px; margin-top: -21px }
#moviesList .movie.vimeo img { width: 208px; margin-top: 0 }

#moviesList .movie a .play { 
	width: 208px; height: 115px; 
	display: none; background: rgba(0, 0, 0, 0.6) url(iconPlay.png) center no-repeat; position: absolute; left: 0; top: 0 }
#moviesList .movie a:hover .play { display: block; }

#moviesList .movie .comments { width: 208px; float: left; margin: 0; color: #484848 }
#moviesList .movie .comments li {
	list-style-type: none; float: left; min-height: 25px;
	width: 178px; line-height: 12px; position: relative;
	border: 0; padding: 5px 0px 5px 30px; font-size: 11px; color: #484848;
	border-bottom: 1px solid #e9e9e9; overflow: hidden; }
#moviesList .movie .comments li a,
#moviesList .movie .comments li a img { width: auto; height: auto; margin: 0 5px 0 0  }

#moviesList .movie .comments li a { position: absolute; left: 0px; top: 5px }
#moviesList .movie .comments li .author_avatar a { float: right; position: static; } 

#moviesList .movie .comments li a { margin: 0; }
#moviesList .movie .comments li a.avatar,
#moviesList .movie .comments li.author .data a.avatar,
#moviesList .movie form#new_comment img.avatar {
	margin-right: 5px;  
	width: 25px; height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#moviesList .movie .comments li.author { 

	width: 208px;
	padding: 0 0 5px 0; border-bottom: 1px solid #DBDBDB;
 }
#moviesList .movie .comments li.author .title { width: 100%; float: left }
#moviesList .movie .comments li.author .title p { 
	font-weight: bold;
	-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
	background: #eeeeee;
	padding: 5px;
	margin: 0;
	line-height: 14px; font-size: 11px; color: #5f5f5f; }
#moviesList .movie .comments li.author .data { 
	float: left; width: 208px }
#moviesList .movie .comments li small { color: gray }
#moviesList .movie .comments li.author .data strong { /*color: #3B6EA7*/ }
#moviesList .movie .comments li.author .data a { position: static; }

#moviesList .movie .comments li.author .data .content { width: 180px; float: left }
#moviesList .movie .comments li.author .data .action { float: right }

#moviesList .movie .comments li.author .title .counters { 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; text-align: center;
	border-radius: 3px; border: 2px solid #DBDBDB;
	padding: 5px 0; width: 204px; float: left; margin: 5px 0 }
#moviesList .movie .comments li.author .title .counters div { 
	width: auto; background: url(iconMovie.png) top left no-repeat; color: #828282; display: inline-block;
	padding-left: 10px; height: 11px; line-height: 10px; margin: 0 10px 0 0;  }
#moviesList .movie .comments li.author .title .counters div.likes_count { padding-left: 14px }
#moviesList .movie .comments li.author .title .counters div.views_count { background-position: 0 -22px; padding-left: 21px }
#moviesList .movie .comments li.author .title .counters div.comments_count { background-position: 0 -11px; padding-left: 15px }
#moviesList .movie .comments li.author .title .counters div.reposts_count { background-position: 0 -33px; padding-left: 14px}


#moviesList .movie .comments li.author .actions { float: right; }
#moviesList .movie .comments li.author .actions a { margin: 0 0 0 5px }

#moviesList .movie .comments li img.avatar { width: 25px; height: 25px; margin: 0 5px 0 0; float: left }
#moviesList .movie .comments li a.close { float: right; display: none; position: static; }
#moviesList .movie .comments li:hover a.close { display: block; }

#moviesList .movie .comments li:last-child { border: 0!important; padding-bottom: 0!important }

#moviesList .movie .comments li.more { font-weight: bold; padding: 5px 0; min-height: 13px; text-align: center; width: 208px; }
#moviesList .movie .comments li.more a { color: #484848; font-weight: normal }


#moviesList.library .counters { margin-bottom: 0!important }

.movie #comment_content { height: 20px; width: 148px }
.movie form { 
	padding: 5px 0 0 0; border-top: 1px solid #DBDBDB;
	margin: 5px 0 0 0;}
.movie form input,
.movie form textarea { margin: 0; }
#moviesList .movie form input.enter { 
	padding: 0; 
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	border: 1px solid lightgray; background: url(iconEnter.png) no-repeat center; text-indent: -9999px; width: 25px; height: 25px }
#moviesList .movie form#new_comment img.avatar { 
	float: left; width: 25px; height: 25px; margin: 0 5px 0px 0px }
#moviesList .movie form#new_comment #comment_content { 
	font-size: 11px;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
margin-right: 3px; width: 136px;
	height: 15px; line-height: 15px;
	border-color: lightgray }


p.page_info { 
	background: none repeat scroll 0 0 #5FBCDE;
	border-radius: 4px 4px 4px 4px;
	color: white;
	font-size: 16px;
	font-weight: normal;
	padding: 15px 0;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	width: 600px; margin: auto;
	margin-top: 20px;
}
p.page_info a { color: #fff; text-decoration: underline }

/* Modal */
.overlay { 
	z-index: 2000; position: fixed; top: 0; left: 0; width: 100%; 
	height: 100%; background-color: rgba(0, 0, 0, 1); display: none; }
.overlay .actions { position: fixed; right: 25px; top: 25px; width: 32px }	
.overlay .actions li { display: block; float: left; margin-bottom: 10px }
.overlay .actions li a,
.overlay .actions li input { 
	border: 0; margin: 0; outline: none; cursor: pointer;
	display: block; width: 32px; height: 32px; background: url(iconLightboxActions.png); text-indent: -9999px }

.overlay .actions li a#bye { background-position: -64px 0; height: 30px;}
.overlay .actions li a#bye:hover { background-position: -32px 0; }
.overlay .actions li a.active#bye,
.overlay .actions li a#bye:active { background-position: 0px 0px; }

.overlay .actions li #like { background-position: -64px -30px; }
.overlay .actions li #like:hover { background-position: -32px -30px; }
.overlay .actions li .active#like,
.overlay .actions li #like:active { background-position: 0px -30px; }

/*
.overlay .actions li #bad { background-position: -64px -62px; }
.overlay .actions li #bad:hover { background-position: -32px -62px; }
.overlay .actions li .active#bad,
.overlay .actions li #bad:active { background-position: 0px -62px; }
*/

.overlay .actions li #comments { background-position: -64px -94px; }
.overlay .actions li #comments:hover { background-position: -32px -94px; }
.overlay .actions li .active#comments,
.overlay .actions li #comments:active { background-position: 0px -94px; }

.overlay .actions li.avatar { position: fixed; bottom: 10px; right: 25px }
.overlay .actions li.avatar .mask { position: absolute; top: 0; left: 0; background: url(avatarMaskCinema.png); height: 32px; width: 32px; pointer-events: none  }
.overlay .actions li.avatar a { background: none }
.overlay .actions li.avatar a img { float: left }

.overlay .lightbox { vertical-align: middle; display: table-cell; }
.overlay .lightbox .content { margin: auto; text-align: center; z-index: 1000  }


#embed_video { width: 853px; height: 480px; }
#embed_video.biggest { width: 1100px; height: 619px; }
/*
#embed_video.biggest { width: 960px; height: 540px; }
#embed_video.biggest { width: 1280px; height: 720px; }
*/


.overlay .lightbox .content.sidepanel { width: 960px; margin: auto }
.overlay .lightbox .content.sidepanel #embed_video { width: 660px; height: 372px }

/*
.overlay .lightbox .content .comments { display: none; }
.overlay .lightbox .content.sidepanel .comments { height: 372px; width: 300px; background: #fff }
.overlay .lightbox .content.sidepanel embed,
.overlay .lightbox .content.sidepanel .comments { float: left; display: block; }
.overlay .lightbox .content.sidepanel .comments ul { 
	height: 345px; width: 300px;
	overflow: scroll;	overflow-x: hidden } 

.overlay .lightbox .content.sidepanel .comments ul { width: 300px; list-style-type: none; margin: 0 }
.overlay .lightbox .content.sidepanel .comments ul li { 
	text-align: left; font-size: 11px; line-height: 14px;
	width: 275px; padding: 5px; color: #000; margin: 0; float: left; border-bottom: 1px solid lightgray }
.overlay .lightbox .content.sidepanel .comments ul li .avatar { 
	margin: 0 4px 0 0;
	width: 30px; height: 30px; float: left }
.overlay .lightbox .content.sidepanel .comments ul li a.close { display: none }
.overlay .lightbox .content.sidepanel .comments ul li:hover a.close { display: block; }
*/


/* new comments implementation */
#lightbox_comments { display: none; }
#lightbox_comments.active {  }

#lightbox_comments { 
  border-radius: 4px 4px 4px 4px; padding: 10px;
  opacity: 0.3; position: fixed; top: 40px; right: 80px; width: 300px; height: 375px; background: #fff 
}
#lightbox_comments:hover { opacity: 1; }
#lightbox_comments ul { height: 345px; width: 300px; overflow: scroll;	overflow-x: hidden; list-style-type: none; margin: 0 }
#lightbox_comments ul li { 
	text-align: left; font-size: 11px; line-height: 14px;
	width: 275px; padding: 5px; color: #000; margin: 0; float: left; border-bottom: 1px solid lightgray }
#lightbox_comments ul li .avatar { 
	margin: 0 4px 0 0;
	width: 30px; height: 30px; float: left }
#lightbox_comments ul li a.close { display: none }
#lightbox_comments ul li:hover a.close { display: block; }

#lightbox_comments #new_comment { margin: 0; padding: 0 }
#lightbox_comments #new_comment #comment_content { height: 20px; padding: 0; line-height: 20px; font-size: 11px }
#lightbox_comments #new_comment img.avatar { width: 25px; height: 25px; float: left; margin-right: 3px }




#actionsModal.fbfriends { height: 420px; }
#actionsModal.fbfriends .modal-body { height: 286px; overflow-x: hidden; overflow-y: scroll }
#actionsModal.fbfriends .modal-body ul { float: left; }
#actionsModal.fbfriends .modal-body ul li { width: 520px; line-height: 0; padding: 4px 0; float: left; }
#actionsModal.fbfriends .modal-body ul li p { float: left; line-height: 20px; margin: 0 }
#actionsModal.fbfriends .modal-body ul li img { float: left; margin: 0 10px 0 0 }
#actionsModal.fbfriends .modal-body ul li:nth-child(even) { background: #f5f5f5 }

#actionsModal.fbfriends .modal-body ul li.hidden { display: none }
#actionsModal.fbfriends .modal-body #facebook_filter { 
	padding-left: 10px; width: 505px; 
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-bottom: 15px;
}




#main .row { padding: 20px }
/* Shared forms */
#error_explanation ul { list-style-type: none; margin: 0 0 20px 0; }



/* Side elements */
#side { background-color: #f6f6f6; }
#side .nav-tabs { margin: 0; width: 100% }
#side h6 { padding: 12px; font-size: 12px; border-bottom: 2px dotted lightgray; border-top: 2px dotted lightgray  }
#side li:first-child h6 { border-top: none }
#side li i.icon-time,
#side li i.icon-warning-sign { margin-right: 8px; float: left }





#follow_form form { margin: 0 }

#people { padding-top: 10px; }
#people .span6 { margin: auto; float: none; min-height: 60px; }
#people .span6 form#searchPeople { 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left; width: 438px; padding: 10px; background: #fff;
	margin-bottom: 5px;
}
#people .span6 form#searchPeople * { float: left }
#people .span6 form#searchPeople input { padding: 10px; margin: 0 }
#people .span6 form#searchPeople input#search { width: 350px; padding: 9px 10px; }
#people .span6 form#searchPeople input.btn { float: right }
#people h2 { font-size: 18px; margin-bottom: 10px; }

#people #usersList { 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	float: left; width: 438px; padding: 10px;  
}
#people #usersList li { border-bottom: 1px dotted rgba(0,0,0,0.2); padding: 4px 0; display: block; width: 100%; float: left }
#people #usersList li:first-child { padding-top: 0 }
#people #usersList li:last-child { border: 0; padding-bottom: 0 }
#people #usersList li p { margin: 0 }
#people #usersList li form { float: right; margin: 0 }

#people .facebook { 
	display: block; color: #fff; font-weight: bold; font-size: 16px;
	height: 42px; line-height: 42px; text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #3b5998; color: #fff;
	padding: 0 15px;
	margin-top: 20px;
}

#people .span6 form#searchPeople,
#people #usersList  { border: 1px solid #DBDBDB }
#people #usersList .friends strong { margin-bottom: 5px; float: left }
#people #usersList .friends { width: 214px; float: left; margin-bottom: 0px; }
#people #usersList .friends.first { margin-right: 10px }

#people #usersList h3 { font-size: 14px; line-height: 14px; margin-bottom: 10px }

#people h2.username img { float: left; margin-right: 10px; margin-left: 1px }
#user_show_form,
#people h2.username form { float: right; margin: 0 }

.alert.mini { margin: 0; padding: 0 4px; font-size: 11px; line-height: 17px }



.pagination { text-align: center }

.pagination em,
.pagination a { 
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: inline-block;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
    float: none;
} 
.pagination .next_page,
.pagination .next_page:hover,
.pagination .next_page.disabled { 
	display: inline-block;
	border-radius: 4px 4px 4px 4px;
	border-width: 0;
	background: #3B6EA7;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 20px;
    text-transform: uppercase;
}

.pagination .next_page:hover { text-decoration: underline }
.pagination .next_page.disabled,
.pagination .next_page.disabled:hover { background: #DBDBDB; text-decoration: none }

/* ACTIVITIES ----------------------------------------------------------------------*/

#activities { background: url(activities.jpg) 30px top repeat-y; float: left; width: 100%; padding: 20px 0 }
#activities li { position: relative; }
#activities li.first { margin-top: 37px }
#activities li:first-child { margin: 0 }

#activities li.date { background: url(activitiesDate.png) top center repeat-x; margin: 32px 0 30px 0; width: 100%; height: 2px; overflow: visible; }
#activities li.date p { 
	color: #7b7b7b; background: #EDEDED; padding: 0 2px 0 4px;
	position: absolute; left: 76px; top: -8px; font-size: 11px; font-weight: bold; text-transform: uppercase }

#activities li .avatar,
#activities li .avatar .mask { width: 65px; height: 65px; position: absolute; left: 0; top: 0 }

#activities li .avatar .mask { background: url(activitiesMask.png); z-index: 20; }
#activities li .avatar img { position: absolute; left: 1px; top: 1px; z-index: 10; }

#activities li.first .content { 
	border: 1px solid #dbdbdb;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#activities li.first .arrow { 
	width: 6px; height: 14px; background: url(activitiesArrow.png);
	position: absolute; top: 16px; left: 75px;
}
#activities li .content { 
	padding-left: 5px; border: 1px solid #dbdbdb; border-top: 0;
	background: #fff; overflow: hidden; padding: 10px;
	margin-left: 80px; color: #aaaaaa; line-height: 16px; 
}
#activities li .content .author { font-weight: bold }
#activities li .content .movie_title { color: #696969 }
#activities li .content .user_quote { font-style: italic; }
#activities li .content p { margin: 0 }


#activities li .content img { float: left; height: 35px; margin-right: 10px; }

#activities_baloon * { float: none }
#activities_baloon { 
	display: none;
	position: absolute; left: -88px; top: 72px; 
	background: #fff; 
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 10px 0px 10px;
  -webkit-box-shadow: 0px 1px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0 2px rgba(0, 0, 0, 0.1);       
}
#activities_baloon .arrow { position: absolute; top: -9px; left: 191px; background: url(arrowCounter.png); height: 9px; width: 15px; }
#activities_baloon li .arrow { display: none }

#activities_baloon ul { list-style-type: none; width: 450px; overflow: scroll; overflow-x: hidden; height: 223px; }
#activities_baloon ul * { float: auto }
#activities_baloon li.first { margin-top: 10px; padding-top: 10px; border-top: 1px solid #DBDBDB }
#activities_baloon li { position: relative; padding-left: 50px; margin-bottom: 5px; width: 385px; color: #AAAAAA }
#activities_baloon li:first-child { margin-top: 0px; border: 0; margin-top: 0; padding-top: 0 }
#activities_baloon li .avatar { position: absolute!important; left: 0px; top: 10px }
#activities_baloon li:first-child .avatar { top: 0 }
#activities_baloon li .content { font-size: 11px; line-height: 12px; padding: 5px; overflow: hidden; margin-right: 5px }
#activities_baloon li:first-child .content { padding-top: 0 }
#activities_baloon li .content img { float: left; height: 20px; margin-right: 10px; }
#activities_baloon li:nth-child(even) .content { background: #f5f5f5;  }
#activities_baloon #counter_activities { margin: 0 } 
#activities_baloon #counter_activities p { font-size: 11px; display: inline-block; margin: 0; line-height: 12px; }
#activities_baloon .movie_title { color: #696969 }

#activities_baloon li.new .content { background: #fcf5c9; padding-top: 5px; }

#activities_baloon h5 { height: 12px; line-height: 12px; margin-bottom: 14px; }

#activities_baloon .actions { width: 100%; border-top: 1px solid #E9E9E9 }
#activities_baloon .actions a { color: #727272; color: #d94335; line-height: 25px; height: 28px; font-size: 11px; font-weight: bold; }
#mobile_activities_close { float: right!important; }




/* FOOTER -----------------------------------------------------------------------*/

#footer { 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: fixed; bottom: 0; right: 20px; background: #D94335;  color: #fff; opacity: 0.7 
}
#footer:hover { opacity: 1 }
#footer a { color: #fff; padding: 0px 10px; height:20px; line-height:20px; display: block; float: left; margin: 5px 0 }
#footer a:hover { text-decoration: underline }

#about .span6 { margin: auto; float: none; padding: 30px 0; margin-top: 20px; }


