
/* HTML ELEMENTS ----------------------------------------------------------------*/
html { /*background: url(background.jpg)*/ }
body { padding-top: 40px; /*background: url(moutain.png) center 40px no-repeat;*/ color: #000; background: #f7f7f7 }

html.clean,
html.clean body { background: none; color: #000; padding: 20px }

.popover { z-index: 3000; }

/* Basic Content ----------------------------------------------------------------*/

/* HEADER -----------------------------------------------------------------------*/
#header {  }
#header .navbar-inner { 

        -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.1);
        box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.1);
        
	background: #3b6ea7 }
#header .navbar-inner a.brand { float: left; font-weight: 900 }

#header .nav { float: right }
#header .nav li a { color: #fff }
#header .nav li a img { float: left; margin-right: 5px }

/* CONTENT ----------------------------------------------------------------------*/

#timeline { padding: 20px 0 }
#timeline { 
	padding-top: 10px;
	background: none repeat scroll 0 0 rgba(155, 155, 155, 0.4);
	float: left; display: block; width: 94%; padding-left: 50px }
#timeline { position: relative; }
#timeline div.first { position: absolute; left: 0; padding: 0 10px; margin: 0; border: 0  }

#featured { 
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #fffbb4; border-bottom: 2px solid #e1db6e; margin-bottom: 10px 
}
#featured .span12 { padding: 7px 0 }
#featured .span12 p { margin: 0 0 0 10px; font-size: 13px; color: #544f48; float: left; line-height: 27px; }
#featured .span12 a { margin: 0 10px 0 0 }
#featured .span12 a.button { 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 8px;
	float: right;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
#featured .span12 a.button:hover { text-decoration: none }
.button.button-facebook { background-color: #315c9a; }
.button.button-orange { background-color: #dc8413 }
.button.button-green { background-color: #5bb95c }

#content { padding-bottom: 20px }
body.app #content { padding-bottom: 0 }


#moviesList .movie { 
	/*-webkit-box-shadow: inset 0px 3px 0px 0px rgba(155, 155, 155, 1);
-moz-box-shadow: inset 0px 3px 0px 0px rgba(155, 155, 155, 1);
box-shadow: inset 0px 3px 0px 0px rgba(155, 155, 155, 1); */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 222px; background: #fff; border: 2px solid #dbdbdb; padding: 5px;
	display: block; float: left; margin: 0 5px 10px 5px }
#moviesList .movie a { 
	/*border-top: 1px solid rgba(155, 155, 155, 0.2);*/	
	width: 222px; float: left; display: block; height: 123px; 
	overflow: hidden; position: relative;

}
#moviesList .movie img { width: 222px; margin-top: -22px }
#moviesList .movie a .play { 
	width: 222px; height: 123px; 
	display: none; background: rgba(0, 0, 0, 0.6) url(iconPlay.png) center no-repeat; position: absolute; left: 0; top: 0 }
#moviesList .movie a:hover .play { display: block; }

#moviesList .movie .comments { width: 222px; float: left; margin: 0 }
#moviesList .movie .comments li {
	list-style-type: none; float: left;
	width: 212px; line-height: 14px;
	border: 0; padding: 5px; margin: 0; font-size: 11px; color: #000;
	border-bottom: 1px solid lightgray; }
#moviesList .movie .comments li a,
#moviesList .movie .comments li a img { width: auto; height: auto; margin: 0 5px 0 0  }

#moviesList .movie .comments li a { margin: 0 }

#moviesList .movie .comments li.author { background: #ebebeb }
#moviesList .movie .comments li.author .data { float: left; width: 180px }
#moviesList .movie .comments li.author .actions { float: right; }
#moviesList .movie .comments li.author .actions a { margin: 0 0 0 5px }
#moviesList .movie .comments li.more { font-weight: bold }

#moviesList .movie .comments li img.avatar { width: 25px; height: 25px; margin: 0 3px 0 0; float: left }
#moviesList .movie .comments li a.close { float: right; display: none; }
#moviesList .movie .comments li:hover a.close { display: block; }

.movie #comment_content { height: 20px; width: 148px }
.movie form { margin: 0; padding: 0 }
.movie form input,
.movie form textarea { margin: 0; }
#moviesList .movie form input.enter { 
	padding: 0; 
	border: 0; background: url(iconEnter.png) no-repeat center; text-indent: -9999px; width: 20px; height: 20px }
#moviesList .movie form#new_comment img.avatar { 
	float: left; width: 25px; height: 25px; margin: 5px 3px 5px 5px }
#moviesList .movie form#new_comment #comment_content { margin: 5px 0 0 0; height: 14px; line-height: 14px }

/* Modal */
.overlay { 
	z-index: 2000; position: fixed; top: 0; left: 0; width: 100%; 
	height: 100%; background-color: rgba(0, 0, 0, 1); display: none; }
.overlay .actions { position: fixed; right: 25px; top: 25px; width: 32px }	
.overlay .actions li { display: block; float: left; margin-bottom: 10px }
.overlay .actions li a,
.overlay .actions li input { 
	border: 0; margin: 0;
	display: block; width: 32px; height: 32px; background: url(iconLightboxActions.png); text-indent: -9999px }

.overlay .actions li a#bye { background-position: -64px 0; height: 30px }
.overlay .actions li a#bye:hover { background-position: -32px 0; }
.overlay .actions li a.active#bye,
.overlay .actions li a#bye:active { background-position: 0px 0px; }

.overlay .actions li #nice { background-position: -64px -30px; }
.overlay .actions li #nice:hover { background-position: -32px -30px; }
.overlay .actions li .active#nice,
.overlay .actions li #nice:active { background-position: 0px -30px; }

.overlay .actions li #bad { background-position: -64px -62px; }
.overlay .actions li #bad:hover { background-position: -32px -62px; }
.overlay .actions li .active#bad,
.overlay .actions li #bad:active { background-position: 0px -62px; }

.overlay .actions li #comments { background-position: -64px -94px; }
.overlay .actions li #comments:hover { background-position: -32px -94px; }
.overlay .actions li .active#comments,
.overlay .actions li #comments:active { background-position: 0px -94px; }

.overlay .lightbox { vertical-align: middle; display: table-cell; }
.overlay .lightbox .content { margin: auto; text-align: center; z-index: 1000  }

.bookmarklet {
	background-color: #000;
	border: 1px solid #626262;
	border-radius: 8px 8px 8px 8px;
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Lucida Grande',Verdana,sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0 7px 1px;
	text-align: center;
	text-shadow: 1px 1px 0 #3B3B3B;
	vertical-align: 2px;
}
.bookmarklet:hover { color: #fff; text-decoration: none }


#embed_video { width: 853px; height: 480px; }
#embed_video.biggest { width: 1280px; height: 720px; }

.overlay .lightbox .content .comments { display: none; }

.overlay .lightbox .content.sidepanel { width: 960px; margin: auto }
.overlay .lightbox .content.sidepanel #embed_video { width: 660px; height: 372px }
.overlay .lightbox .content.sidepanel .comments { height: 372px; width: 300px; background: #fff }
.overlay .lightbox .content.sidepanel embed,
.overlay .lightbox .content.sidepanel .comments { float: left; display: block; }
.overlay .lightbox .content.sidepanel .comments ul { 
	height: 345px; width: 300px;
	overflow: scroll;	overflow-x: hidden } 

.overlay .lightbox .content.sidepanel .comments ul { width: 300px; list-style-type: none; margin: 0 }
.overlay .lightbox .content.sidepanel .comments ul li { 
	text-align: left; font-size: 11px; line-height: 14px;
	width: 275px; padding: 5px; color: #000; margin: 0; float: left; border-bottom: 1px solid lightgray }
.overlay .lightbox .content.sidepanel .comments ul li .avatar { 
	margin: 0 4px 0 0;
	width: 30px; height: 30px; float: left }
.overlay .lightbox .content.sidepanel .comments ul li a.close { display: none }
.overlay .lightbox .content.sidepanel .comments ul li:hover a.close { display: block; }
.overlay .lightbox .content.sidepanel #new_comment { margin: 0; padding: 0 }
.overlay .lightbox .content.sidepanel #new_comment #comment_content { height: 20px; padding: 0; line-height: 20px }
.overlay .lightbox .content.sidepanel #new_comment img.avatar { width: 25px; height: 25px; float: left; margin-right: 3px }

#main .row { padding: 20px }
/* Shared forms */
#error_explanation ul { list-style-type: none; margin: 0 0 20px 0; }

/* Registration form */
#new_user input[type=text],
#new_user input[type=password] { width: 270px }

/* Side elements */
#side { background-color: #f6f6f6; }
#side .nav-tabs { margin: 0; width: 100% }
#side h6 { padding: 12px; font-size: 12px; border-bottom: 2px dotted lightgray; border-top: 2px dotted lightgray  }
#side li:first-child h6 { border-top: none }
#side li i.icon-time,
#side li i.icon-warning-sign { margin-right: 8px; float: left }




.alert.mini { margin: 0; padding: 0 4px; font-size: 11px; line-height: 17px }



/* FOOTER -----------------------------------------------------------------------*/
